body{
    background-color: white;
    margin: 0;
}
.home_row1{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.home_row1_col1{
    background-color: white;
    width: 45%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.home_row1_col1_text{
    display: flex;
    flex-direction: column;
}
.home_row1_col2{
    background-color: white;
    width: 45%;
    display: flex;
    padding-right: 5%;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.home_row1_col1_text_label1{
    font-size: 1.3rem;
}
.home_row1_col1_img img{
    margin-right: 10px;
}
.home_row1_col2_button button{
    margin-left: 10px;
    background-color: rgba(3, 74, 133, 0.842);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;

}

.home_row1_col2_button button:hover{
    background-color: blue;
}